.container {
    display: flex;
    justify-content: center;
}

.foodResultBox {
    width: 500px;
}



.food {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr .5fr;
    align-items: center;
    justify-content: space-between;

}