.container {
    display: flex;
    justify-content: center;
}

.foodResultBox {
    width: 500px;
}

.search {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.food {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr .5fr .2fr;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.info {
    background-color: white;
    border: solid 1px black;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.foodAddValue {
    max-width: 100px;
}

.info:hover {
    background-color: #e5e5e5;
}

.info:active {
    background-color: #b0b0b0;
}

.foodSearchContainer {
    margin: 0 auto;
    max-width: 500px;
}

.filterBtn {
    background-color: white !important;
    color: black !important;
    border-radius: 20px !important;
    border: solid 1px black !important;
    margin: 0 10px 0 10px !important;
}

.label {
    font-weight: bold !important;
}

.filterBtn:hover {
    background-color: #e7e7e7 !important;
}

.filterBtn:active {
    background-color: #d2d2d2 !important;
}


.filterInput {
    max-width: 200px;
    margin: 0 auto;
}
.filterInfo {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.filterComponent {
    border: solid 1px black;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;

}
.filterContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}