#root {
    -fx-background-color: #490c7a;
    -fx-background-image: url('../backgroundResources/editing-bg.png');
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

Button:focused {
    -fx-border-radius: 8px;
    -fx-background-color: #40115e;
    -fx-border-color: #ee00ff;
    -fx-text-fill: white;
    -fx-background-radius: 8px;
}

Button {
    -fx-border-color: #8200cc;
    -fx-border-radius: 8px;
    -fx-background-color: #460965;
    -fx-text-fill: white;
    -fx-background-radius: 8px;
}

Button:hover {
    -fx-background-color: #40115e;
    -fx-border-color: #ff00ea;
    -fx-border-radius: 8px;
    -fx-text-fill: white;
    -fx-background-radius: 8px;
}

Button:pressed {
    -fx-background-color: #40115e;
    -fx-border-color: #ee00ff;
    -fx-border-radius: 8px;
    -fx-text-fill: white;
    -fx-background-radius: 8px;
}

Label {
    -fx-text-fill: white;
}

.edit-field {
    -fx-background-color: #460965;
    -fx-border-color: #8200cc;
    -fx-text-fill: white;
}

.edit:focused {
    -fx-background-color: #40115e;
    -fx-border-color: #ee00ff;
    -fx-text-fill: white;
}

ComboBox {
    -fx-background-color: #460965;
    -fx-border-color: #8200cc;
    -fx-text-fill: white;
}

ComboBox .cell:selected {
    -fx-text-fill: white;
}

ComboBox .list-view .list-cell {
    -fx-background-color: #460965;
    -fx-border-color: #460965;
    -fx-text-fill: white;
}

ComboBox .list-view .list-cell:hover {
    -fx-background-color: #8200cc;
    -fx-border-color: #460965;
    -fx-text-fill: white;
}


ComboBox .arrow-button .arrow {
    -fx-background-color: #8200cc;
}

ComboBox:focused .arrow-button .arrow {
    -fx-background-color: #ee00ff;
    -fx-font-weight: bold;
}

JFXTextArea *.text {
    -fx-text-alignment: center;
    -fx-font-weight: bold;
}