:root {
    --main-color: #6F00B3;
}

.food-day-container {
    @apply text-white flex justify-center items-center rounded-lg h-48 shadow-lg shadow-gray-500 mb-4;
    background-color: var(--main-color);
}

.test {
    max-width: 800pt;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    background-color: var(--main-color);
    color: white;
    border-radius: 10pt;
    min-height: 200pt;
}

.food-day-info-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    text-align: center;
}


.food-day-progress-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.fdi-mini-text {

}

.food-day-progress-box > div {
    margin-left: 50pt;
    margin-right: 50pt;
}


.fdi-mini-text > div {
    @apply first:text-lg md:first:text-2xl
}

.fdi-main-text > div {
    @apply first:text-lg md:first:text-2xl
}



@media only screen and (max-width: 860px) {
    .food-day-progress-box > div {
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .food-day-progress-box {
        grid-template-columns: 33vw 33vw 33vw;
    }
}