#root-view {
    -fx-background-color: transparent;
}

TextField {
    -fx-background-color: transparent;
    -fx-border-color: #4a096c;
    -fx-text-fill: white;
    -fx-font-size: 10pt;
}

TextField:focused {
    -fx-background-color: transparent;
    -fx-border-color: #ee00ff;
    -fx-text-fill: white;
    -fx-font-size: 10pt;
}

Textfield .prompt-text {
    -fx-text-fill: white;
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
}

Label {
    -fx-text-fill: white;
}


Button:focused {
    -fx-border-radius: 8px;
    -fx-background-color: #40115e;
    -fx-border-color: #ee00ff;
    -fx-text-fill: white;
    -fx-background-radius: 8px;
}

Button {
    -fx-border-color: #8200cc;
    -fx-border-radius: 8px;
    -fx-background-color: #460965;
    -fx-text-fill: white;
    -fx-background-radius: 8px;
}

Button:hover {
    -fx-background-color: #40115e;
    -fx-border-color: #ff00ea;
    -fx-border-radius: 8px;
    -fx-text-fill: white;
    -fx-background-radius: 8px;
}

Button:pressed {
    -fx-background-color: #40115e;
    -fx-border-color: #ee00ff;
    -fx-border-radius: 8px;
    -fx-text-fill: white;
    -fx-background-radius: 8px;
}

ComboBox {
    -fx-background-color: transparent;
    -fx-border-color: #460965;
    -fx-text-fill: white;
    -fx-font-size: 10pt;
}

ComboBox .cell:selected {
    -fx-text-fill: white;
}

ComboBox:focused {
    -fx-background-color: transparent;
    -fx-border-color: #ee00ff;
    -fx-text-fill: white;
    -fx-font-size: 10pt;
}

ComboBox .arrow-button .arrow {
    -fx-background-color: #4a096c;
}

ComboBox:focused .arrow-button .arrow {
    -fx-background-color: #ee00ff;
}

ComboBox .list-view .list-cell {
    -fx-background-color: #4a096c;
    -fx-border-color: #4a096c;
    -fx-text-fill: white;
}

ComboBox .list-view .list-cell:hover {
    -fx-background-color: #77098f;
    -fx-border-color: #4a096c;
    -fx-text-fill: white;
}