.main-root-login-form {
    -fx-background-color: #490c7a;
    -fx-background-image: url('../backgroundResources/login-bg.png');
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

.login-field {
    -fx-background-color: rgb(134, 42, 168),
    rgb(251, 248, 255);
    -fx-text-fill: rgb(73, 20, 98);
}

.login-field:focused {
    -fx-background-insets: 0, 2;
    -fx-border-color: white;
    -fx-border-radius: 4px;
    -fx-background-color: rgb(134, 42, 168),
    rgb(251, 248, 255);
    -fx-text-fill: rgb(73, 20, 98);
}

.login-field:hover {
    -fx-background-color: rgb(247, 0, 255),
    rgb(251, 248, 255);
    -fx-text-fill: rgb(73, 20, 98);
}

.login-field:hover:focused {
    -fx-background-insets: 0, 2;
    -fx-border-color: white;
    -fx-border-radius: 4px;
    -fx-background-color: rgb(134, 42, 168),
    rgb(251, 248, 255);
    -fx-text-fill: rgb(73, 20, 98);
}


/* message area */
JFXTextArea {
    -fx-text-fill: #ef1400;
    -fx-text-alignment: center;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

JFXTextArea *.text {
    -fx-text-alignment: center;
    -fx-padding-top: 30px;
}

ProgressIndicator {
    -fx-accent: rgb(251, 248, 255);
}

Button:focused {
    -fx-background-color: #40115e;
    -fx-border-color: #ee00ff;
    -fx-text-fill: white;
}

Button {
    -fx-border-color: rgb(251, 248, 255);
    -fx-background-color: #460965;
    -fx-text-fill: white;
}

Button:hover {
    -fx-background-color: #40115e;
    -fx-border-color: #ff00ea;
    -fx-text-fill: white;
}

Button:pressed {
    -fx-background-color: #5d2688;
    -fx-border-color: #ee00ff;
    -fx-text-fill: white;
}