.circle-border {
    border: solid 2pt #6F00B3;
    border-radius: 100pt;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    text-align: center;
    color: #6F00B3;
    font-size: 18px;
    margin: 5pt;
}

.circle-border:hover {
    color: #58008a;
    border-color: #58008a;
}

.circle-border:active {
    background-color: rgba(88, 0, 138, 0.07);
}