.food-container {
    max-width: 40%;
    margin: 0 auto;
}

.food-container > div {
    margin: 10px 0 10px 0;
}



.add-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 10%;
    max-width: 700px;
    margin: 0 auto;

}




@media only screen and (max-width: 1100px) {
    .food-container {
        max-width: 80%;
    }

}
@media only screen and (max-width: 445px) {
    .add-container {
        gap: 3%;
    }
    .food-container {
        max-width: 100%;
    }

}

