.food-container {
    max-width: 40%;
    margin: 0 auto;
}

.food-container > div {
    margin: 10px 0 10px 0;
}



.add-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 10%;
    max-width: 700px;
    margin: 0 auto;
}

.add-btn {
    background: none;
    font-size: 25px;
    color: #6F00B3;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
}

.add-btn:hover {
    cursor: pointer;
    color: #58008a;
    background-color: rgba(111, 0, 179, 0.12);
}

.add-btn:active {
    color: #7800c2;
    background-color: rgba(111, 0, 179, 0.14);
}