.containerBasic {
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 500px;
    display: grid;
    margin: 0 auto;
    padding: 10px;
    gap: 5px;
}

.name {

}

.cancelBtn {

}

.value {
    font-size: 1.5em;
}

.containerBasic > div > div:nth-child(1) {
    font-size: 1.5em;
}

.containerNutritional {
    margin-bottom: 10px;
}



.containerNutritional > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.base {
    font-weight: bold;
}


