

.classic-btn {
  border: none;
  cursor: pointer;
  background: none;
}

.classic-btn:hover {
  filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.91));
}

.full-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-height {
  height: 100vh;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

