.formLabel {
    display: grid;
    grid-template-columns: 1fr 1fr;
}




.formContainer {
    max-width: 600px;
    margin: 0 auto;
}

.form > div {
    gap: 10px;
}

.formContainer > form > div {
    margin: 10px;
}


.container {
    max-width: 500px;
    margin: 0 auto;
}

.btn {
    display: grid;
}